.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  filter: drop-shadow(0px 20px 40px rgba(255, 148, 1, 0.2));
}

.conteiner {
  max-width: 1600px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 60px;
  margin: 0;
}

.menu__item {
  cursor: pointer;
}

.header__promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5vw;
}

.header__about {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-start;
}

.header__name {
  font: 500 24px/30px "Fredoka", sans-serif;
  color: #FF9401;
  margin: 0 0 15px 0;
}

.header__tagline {
  font: 600 96px/108px  "Fredoka", sans-serif;
  margin: 0 0 15px 0;
}

.header__location {
  font: 400 20px/32px "Fredoka", sans-serif;
  margin: 0 0 45px 0;
}

.button {
  font: 400 20px/30px "Fredoka", sans-serif;
  padding: 0.5em 1em;
  background-color: #FF9401;
  border-radius: 31px;
  color: #ffffff;
  border: 0;
  display: inline-block;
  text-align: center;
  filter: drop-shadow(0px 20px 40px rgba(255, 148, 1, 0.2));
  cursor: pointer;
}

.header__button {
  margin: 0 0 60px 0;
}

.social-list {
  display: flex;
  gap: 30px;
  filter: drop-shadow(0px 20px 40px rgba(255, 148, 1, 0.2));
}

.header__food-pic {
  align-self: flex-start;
}

@media (max-width:1600px){
  .header__nav {
    justify-content: space-around;
  }
}

@media (max-width: 920px) {
  .header__food-pic {
    display: none;
  }
  .header__about {
    align-items: center;
  }
  .header__about p,
  .header__about h2 {
    text-align: center;
  }
  .header__promo {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .header__nav-food-pic {
    display: none;
  }
  .header__nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    margin: 0 0 30px 0;
  }

  .header__tagline {
    font: 600 80px/94px "Fredoka", sans-serif;
  }

}
