.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  filter: drop-shadow(0px 20px 40px rgba(255, 148, 1, 0.2));
}

.conteiner {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteiner_gradient {
  background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 60px;
  margin: 0;
}

.menu__item {
  cursor: pointer;
}

.block-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5vw;
  height: 100%;

  flex-grow: 1;
}

.content-list {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-start;
}

.block-name {
  font: 500 24px/30px "Fredoka", sans-serif;
  color: #FF9401;
  margin: 0 0 15px 0;
}


.block-tagline {
  font: 600 96px/108px  "Fredoka", sans-serif;
  margin: 0 0 15px 0;
}

.about-us__block-tagline {
  font: 500 52px/60px  "Fredoka", sans-serif;
}

.features__block-tagline {
  font: 500 46px/60px  "Fredoka", sans-serif;
  margin: 0 0 60px;
}

.recipes__block-tagline {
  font: 500 46px/60px  "Fredoka", sans-serif;
}

.share__block-tagline {
  font: 600 48px/60px  "Fredoka", sans-serif;
}

.reviews__block-tagline {
  font: 600 48px/60px  "Fredoka", sans-serif;
}

.main-footer__block-tagline {
  font: 500 20px/30px  "Fredoka", sans-serif;
}

.block-text{
  font: 400 20px/32px "Fredoka", sans-serif;
  margin: 0 0 45px 0;
}

.reviews__block-text {
  font: 400 18px/28px "Fredoka" , sans-serif;
  font-style: italic;
}

.main-footer__block-text {
  font: 400 18px/30px "Fredoka" , sans-serif;
  text-decoration: none;
}

.main-footer__text_c1 {
  color: #3F3232;
}

.main-footer__text_c2 {
  color: #2E2E2E;
}

.main-footer__text_c3 {
  color: #6A5C5C;
}

.main-footer__text_underline {
  position: relative;
  padding-bottom: 10px;
}

.main-footer__text_underline::after {
  content: "";
  width: 20px;
  height: 0px;
  border: 0.1px solid #000000;
  border-color: #000000;
  position: absolute;
  bottom: -3px;
  left: -10px;
}

.cart-items__text {
  font: 400 18px/28px "Fredoka", sans-serif;
  text-align: center;
}

.cart-items__tagline {
  font: 600 24px/30px  "Fredoka", sans-serif;
}

.recipes .cart-items__tagline {
  font: 400 20px/26px  "Fredoka", sans-serif;
}


.button {
  font: 400 20px/30px "Fredoka", sans-serif;
  padding: 0.5em 1em;
  background-color: #FF9401;
  border-radius: 31px;
  color: #ffffff;
  border: 0;
  display: inline-block;
  text-align: center;
  filter: drop-shadow(0px 20px 40px rgba(255, 148, 1, 0.2));
  cursor: pointer;
}

.add__button {
  filter: none;
  background-color: rgba(196, 196, 196, 0.26);
  border-radius: 15px;
  color: #696969;
  font: 400 10px/10px "Fredoka", sans-serif;
  text-transform: uppercase;
}

.header__button {
  margin: 0 0 60px 0;
}

.social-list {
  display: flex;
  gap: 30px;
  filter: drop-shadow(0px 20px 40px rgba(255, 148, 1, 0.2));
}

.img-cover {
  align-self: center;
}


.about-us__food-pic {
  padding-top: 150px;
}

.features__content-list {
  align-items: center;
  align-self: center;
  max-width: 1000px;
  justify-content: center;
  margin: 0 5vw;
}

.carts-list {
  display: flex;
  gap: 5vw;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-conteiner {
  background: url("img/features__food-left.png") top left no-repeat, url("img/features__food-right.png") top right no-repeat;
}

.recipes__content-list {
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 0 5vw;
  max-width: 100%;
}

.recipes__carts-list {
  margin-bottom: 7vh;
}

.recipes__cart-items {
  padding: 12px 12px 30px 12px;
  background-color: #ffffff;
  border-radius: 10px;
  filter: drop-shadow(0px 20px 40px rgba(255, 148, 1, 0.2));
  display: inline-grid;
    grid-template-columns: 1fr auto ;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header";
    align-items: baseline;
    height: 33vh;
}

.cart-items__x:nth-child(3),
.cart-items__x:nth-child(5) {
  justify-self: end;
}

.cart-items__x:first-child {
  grid-area: header;
}


.recipes__cart-items img {
  filter: none;
}

.cart-items__tagline {
  margin: 0;
}

.recipes__grade {
  font: 400 16px/20px "Fredoka", sans-serif;
  color: #818181;
  position: relative;
  padding-left: 15px;
  margin: 0;
  max-width: max-content;
}

.recipes__grade::before {
  content: "";
  background-image: url("img/star.svg");
  position: absolute;
  width: 11px;
  height: 11px;
  left: 0;
  top: 5px;
}

.recipes__cost {
  color: #FF9401;
  font: 400 18px/22px "Fredoka", italic;
  font-style: italic;
  margin: 0;
  max-width: max-content;
}

.app-link img {
  max-width: 150px;
  max-height: 50px;
  margin-right: 15px;
}

.signature p {
  margin: 0;
}

.signature__position {
  font: 400 14px/22px "Fredoka", sans-serif;
  color: #675959;
}

.reviews__buttons {
  position: relative;
}

.reviews__button {
  border: none;
  background-color: inherit;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  right: 40px;
}

.reviews__button_active {
right: 0;
bottom: -4px;
}

.reviews__content-list .content-list__item:last-child {
  width: 100%;
}

.sinature-wrapper {
  display: flex;
  justify-content: space-between;
}

.share__conteiner {
  background: url("img/share_left.png") top left no-repeat, url("img/share_right.png") top right no-repeat;
}

.main-footer__conteiner {
  min-height: 25vh;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}


@media (max-width:1600px){
  .header__nav {
    justify-content: space-around;
  }
}

@media (max-width: 920px) {
  .header__food-pic,
  .about-us__food-pic,
  .share__pic,
  .reviews__food-pic {
    display: none;
  }
  .content-list {
    align-items: center;
  }
  .content-list p,
  .content-list h2 {
    text-align: center;
  }
  .block-content {
    justify-content: center;
  }
  .features-conteiner {
    background: none;
  }

}

@media (max-width: 550px) {
  .header__nav-food-pic {
    display: none;
  }
  .header__nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    margin: 0 0 30px 0;
    z-index: 1;
  }

  .header__block-tagline {
    font: 600 74px/90px "Fredoka", sans-serif;
  }
  .carts-list {
    flex-direction:column;
    gap: 3vh;
  }

}
